@-moz-document url("about:home"), url("about:newtab") {
  body {
    background-image: url("file:///home/jatin/.local/share/bing-home/wallpaper.jpg?v=1");
    background-size: cover !important;
    filter: brightness(0.9) contrast(1.1);
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}
